# Postgres Supabase
DB_HOST=
DB_PORT=5432
DB="postgres"
DB_USER=
DB_PASSWORD=




#AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@airflow-db/airflow

# Polymarket
POLYMARKET_BASE_URL="https://gamma-api.polymarket.com"
POLYMARKET_VOLUME_MIN=50000
POLYMARKET_PAGE_LIMIT=100
POLYMARKET_LIQUIDITY_MIN=5000
POLYMARKET_VOLUME24HR_MIN=500


# Kalshi
KALSHI_BASE_URL=https://api.elections.kalshi.com/trade-api/v2

# AWS S3
S3_BUCKET=
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
AWS_REGION_NAME=

# LLm
GEMINI_API_KEY=

# Pipeline
INGESTION_INTERVAL_MINUTES=120
EXPIRY_MAX_DAYS=180
BATCH_SIZE=1000

# airflow metadata postgres
PG_USER=airflow
PG_PASSWORD=airflow
PG_DB=airflow
AIRFLOW_WEBSERVER_SECRET_KEY=

AIRFLOW_ADMIN=
AIRFLOW_ADMIN_PASSWORD=